// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-base-primary; 
  margin: 0px;
  padding: 0px; 
}

a {
  color: $color-primary; 
  text-decoration: none;
}
