// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------







/// Primary Font Family
/// @type List
$font-primary: 'Arial', 'Helvetica', sans-serif;







/// Primary Color
/// @type Color
$color-primary: rgb(29, 77, 147);

/// Secondary Color
/// @type Color
$color-secondary: rgb(57, 169, 224);

/// Tertiary Color
/// @type Color
$color-tertiary: rgb(169, 217, 243);

/// Title Color
/// @type Color
$color-title: rgb(231, 41, 113); 

/// Base Primary Color
/// @type Color
$color-base-primary: rgb(249, 250, 251); 

/// Base Secondary Color
/// @type Color
$color-base-secondary: rgb(255, 255, 255); 

/// Text Color
/// @type Color
$text-color: rgb(0, 0, 0); 







/// Font Size 
/// @type Number
/// $fs-200: ;

/// Font Size 
/// @type Number
/// $fs-300: ;

/// Font Size
/// @type Number
$fs-400: 1rem;

/// Font Size
/// @type Number
$fs-500: 1.3rem;

/// Font Size
/// @type Number
$fs-600: 1.8rem; 

/// Font Size
/// @type Number
$fs-700: 2.3rem;

/// Font Size
/// @type Number
/// $fs-800: ; 

/// Font Size
/// @type Number
/// $fs-900: ;

/// Font Size
/// @type Number
$--fs-xl: clamp(1rem, 1rem + 2vw, 2.0rem); 






$line-height: 30px;







/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'small': 576px,
    'medium': 768px, 
    'large': 992px,
    'extra-large': 1200px,
);







$border-radius: 7.5px; 







/// Main content margin vertical global variable 
/// Typically used to vertically position a page's main content below the navbar
/// @type Number
$main-content-margin-vertical: clamp(10rem, calc(5rem + ((1vw - 0.32rem) * 4.1667)), 14rem);

/// Main content margin horizontal global variable 
/// Typically used to horizontally position a page's main content away from page borders
/// @type Number
$main-content-margin-horizontal: 3.2rem;