// -----------------------------------------------------------------------------
// This file contains all styles related to the Client component
// -----------------------------------------------------------------------------

.client {
    @include container-flex;

    //margin: $main-content-margin-vertical $main-content-margin-horizontal;

    flex-direction: column; 

    gap: 1rem;

    &-header, &-content {
        width: 100%; 
    }
}

.client-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.client-header {
    
    &__subheading {
        @include subheading;
        margin: 0px; 
    }

    &__heading {
        @include heading; 
        margin: 0px;
    }
}

.client-metric {
    @include content-container; 
    width: 100%;

    &__heading {
        @include subheading;
    }
}

/* Sizing of map container */
.leaflet-container {
    height: 50vh;
}