// -----------------------------------------------------------------------------
// This file contains all styles related to the Client component
// -----------------------------------------------------------------------------

@use "sass:map"; // required to access map.get() method

.client{
    margin-top: 10rem;
}

.client-bar{
    border: 2px solid black;
    margin: 2rem;
    padding: 2rem;
}

.client-stats{
    @include container-flex;
    justify-content: space-between;
    margin: 2rem;
}

.client-stats-contentbox{
    border: 2px solid black;
    width: 49%;
    padding: 2rem;
}

.client-stats-contentbox__stat{
    font-size: 5rem;
    text-align: center;
}