// -----------------------------------------------------------------------------
// This file contains all styles related to the Daily component
// -----------------------------------------------------------------------------

.daily {
    @include container-flex;

    margin: $main-content-margin-vertical $main-content-margin-horizontal;

    position: relative;

    flex-direction: column; 

    gap: 1rem;

    &-header, &-content {
        width: 100%; 
    }
}