.login {
    @include container-flex; 

    margin: $main-content-margin-vertical $main-content-margin-horizontal;

    flex-direction: column;

    &-header, &-content {
        width: 100%;
    }
}

.login-wrapper {
    @include container-flex; 

    flex-direction: column; 
    width: 100%;
}

.login-header {
    text-align: center;

    font-family: "Segoe UI";

    color:#E72971
}

.login-password {
    text-align: center;

    &__heading {
        @include heading;
    }

    font-family: "Segoe UI";
}

.login-email {
    text-align: center;

    &__heading {
        @include heading;
    }

    font-family: "Segoe UI";
}

body {
    background-color: #D6D2C4
  }