// -----------------------------------------------------------------------------
// This file contains all styles corresponding to the Login component
// -----------------------------------------------------------------------------

.login {
    @include container-flex; 

    margin: $main-content-margin-vertical $main-content-margin-horizontal;

    &-header, &-content {
        width: 100%;
    }
}

.login-wrapper {
    @include container-flex;
    @include content-container;

    flex-direction: column; 
    width: 100%;
    max-width: 600px;
}

.login-header {
    text-align: center;

    &__heading {
        @include heading;
    }
}

#login-form {
    /* PLAN: create mixin for form styling */
    width: 100%; 

    input {
        width: 100%; 
    }

    button {
        @include btn; 
    }
}