// -----------------------------------------------------------------------------
// This file contains all styles corresponding to the Register component
// -----------------------------------------------------------------------------

.register {
    @include container-flex; 

    margin: $main-content-margin-vertical $main-content-margin-horizontal;

    &-header, &-content {
        width: 100%;
    }
}

.register-wrapper {
    @include container-flex;
    @include content-container;

    flex-direction: column; 
    width: 100%;
    max-width: 600px;
}

.register-header {
    text-align: center;

    &__heading {
        @include heading;
        font-family: "Segoe UI";
    }
}

#register-form {
    /* PLAN: create mixin for form styling */
    width: 100%; 

    input {
        width: 100%; 
    }

    button {
        @include btn; 
    }
}

.PasswordRegister {
    input{
        padding: 8px;
        margin: 0rem 0.5rem;
        font-family: "Segoe UI";
    }
  }

  .NameRegister {
    input{
        padding: 8px;
        margin: 0rem 0.5rem;
        font-family: "Segoe UI";
    }
  }

  .EmailRegister {
    input{
        padding: 8px;
        margin: 0rem 0.5rem;
        font-family: "Segoe UI";
    }
  }