// -----------------------------------------------------------------------------
// This file contains all styles related to the mainpage of the site/application.
// -----------------------------------------------------------------------------

.main {
    position: relative;
    top: $--pushdown;
    
}

.main-container {
    margin: 0 auto;
    width: 50%;
    h1 {
        color: $color-title;
    }
    .content-container {
        @include rounded-container;
        margin-bottom: 2rem;
    }

    padding-bottom: 2rem;
    
}

.labels {
    color: $color-primary;
}

.flexed {
    // not using the @include flex because the content will be centered
    display: flex;
    div {
        width: 50%;
    }
}
